[Desktop Entry]
X-KDE-Solid-Predicate=[ StorageVolume.ignored == false AND OpticalDisc.availableContent & 'VideoDvd' ]
Type=Service
Actions=open;

[Desktop Action open]
Name=Open with Vlc
Exec=/usr/bin/vlc dvd://%d
Icon=vlc

